header{
    text-align:center;
    background-color: rgb(33, 26, 26);
    color: white;
    font-size:4ch;
    padding: 20px;
    min-height: 20;
}

.message{
    width: 60%;
    margin-right: 150px;
    margin-left: 41px;
    padding: 1%;
    text-align: left;
    color: aliceblue;
}
.container{
    text-align: center;
}

body{
    background-image: url("tree.gif");
}
